@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 96%;
    
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 80%;
    
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 0% 80%;
    
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  pointer-events: none;
}

.canvas-container canvas {
  pointer-events: auto;
}